:root {
  font-size: 16px;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.html {
  /* mobile viewport bug fix */
  min-height: fill-available;
}

.page {
  min-height: 100vh;
  max-width: 90rem;
  min-width: 48rem;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.game {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template:
    "header header" auto
    "field rules" auto
    / 1fr 1fr;

  &__header {
    grid-area: header;
    text-align: center;
    font-size: 2.5rem;
  }

  &__field {
    grid-area: field;
  }

  &__rules {
    grid-area: rules;
  }
}

.field {
  background-color: aliceblue;
  padding: auto;
  line-height: 0;

  &__cell {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: 1px solid tomato;
    margin: 3px;

    &--alive {
      background-color: black;
    }
  }
}

.interface {
  width: fit-content;

  &__input {
    width: 50px;
    margin: 0 3px;

    &--range {
      width: 80px;
    }
  }

  &__set-size {
    display: flex;
    justify-content: space-between;
    margin: 3px;
  }
}
