:root {
  font-size: 16px;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.html {
  /* mobile viewport bug fix */
  min-height: fill-available;
}

.page {
  min-height: 100vh;
  max-width: 90rem;
  min-width: 48rem;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.game {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template:
    "header header" auto
    "field rules" auto
    / 1fr 1fr;

  &__header {
    grid-area: header;
    text-align: center;
    font-size: 2.5rem;
  }

  &__field {
    grid-area: field;
  }

  &__rules {
    grid-area: rules;
  }
}
